<div class="wrapper">
    <mat-card>
        <form class="form" [formGroup]="form">
            <h1>Register new user</h1>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput>
            </mat-form-field>
        
            <!-- DOB component -->
        
            <mat-form-field appearance="outline">
                <mat-label>Company name</mat-label>
                <input formControlName="company" matInput required>
            </mat-form-field>
        
        
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required>
                <mat-error *ngIf="form.get('email')?.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country" required>
                    <mat-option value="one">Ireland</mat-option>
                    <mat-option value="two">United Kingdom</mat-option>
                    <mat-option value="three">United States</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox formGroupName="state">Include state</mat-checkbox>
        </form>
    
    </mat-card>
</div>